.content {
    grid-area: c;
    background-color: #e5f4ff;

}

.content img {
    width: 500px;
}

.item {
    color: red;
    margin-top: 10px;
}

.item img{
    width: 60px;
    border-radius: 30px;
}